apiVersion: v1
data:
  serve.crt: <<SERVECRT>>
  serve.key: <<SERVEKEY>>
kind: Secret
metadata:
  creationTimestamp: null
  name: logsidecar-injector-service-certs
  namespace: kubesphere-logging-system